.row .row {
	margin: 0px !important;
}

.main {
	font-family: 'Source Sans Pro', sans-serif !important;
	color: $gray;
	//height: 100%;
	//width: 100%;
	//background-color: $white;

	.resume-banner {
		background-image: url('../images/website/resume-banner.jpg');

		h1 {
			top: 150px !important;
			color: $black !important;
			font-size: 75px !important;
		}
	}

	.main-banner {
		background-image: url('../images/website/main-banner.jpg');
		background-color: black;
		top: -80px;

		h1 {
			text-align: left !important;
		}
	}

	.banner {
		background-attachment: fixed;
		background-size: 100%;
		background-repeat: no-repeat;
		position: relative;
		//top: -80px;
		@media #{$large-only} {
			height: 100vh;
		}
		@media #{$medium-only} {
			height: 500px;
		}
		@media #{$small-only} {
			height: 250px;
		}
		width: 100%;

		.banner-icon-main {
			text-align: center;

			.banner-icon {
				color: $white;
				font-size: 70px;
				position: absolute;
				bottom: 0px;
				left: 50%;
				margin-left: -22px;
			}
		}

		@media #{$medium-up} {
			h1 {
				font-size: 100px;
				top: 180px;
				font-weight: 500;
				line-height: 100px;
			}
		}
		@media #{$small-only} {
			h1 {
				top: 100px;
				font-size: 50px;
				font-weight: 500;
				line-height: 50px;
			}
		}

		h1 {
			letter-spacing: 10px;
			color: $white;
			position: relative;
			text-align: center;
		}
	}

	.one-liner {
		& > div {
			margin: 75px auto;
			margin-top: 0px;

			h1 {
				color: $gray2;
				font-family: 'Source Sans Pro', sans-serif !important;
				text-align: center;
				font-size: 40px;
				line-height: 40px;
			}
		}
	}

	.about-me {
		margin-bottom: 75px;
		
		.about-me-brief {
			p {
				font-style: italic;
				margin-bottom: 40px !important;
			}
		}

		.about-me-content {
			p {
				font-size: 18px;
				line-height: 40px;
				margin-bottom: 0px;

				a {
					color: $red;

					&:hover {
						text-decoration: underline;
					}
				}
			}

			.about-me-text {
				p {
				}
			}
		}
	}

	.resume {
		margin: 50px 0px;
	}

	.separator hr {
		border: solid $gray2;
		border-width: 1px 0 0;
		width: 300px;
		margin-left: auto;
		margin-right: auto;
	}

	.contact {
		margin: 50px 0;

		.contact-header {
			margin-bottom: 50px;

			h1 {
				font-family: 'Source Sans Pro', sans-serif !important;
				text-align: center;
			}
		}

		.contact-content {
			.submit {
				font-family: 'Source Sans Pro', sans-serif !important;
				font-size: 14px;
				height: 40px;
				background-color: transparent;
				color: $gray2;
				border: 1px solid #cccccc;
				border-radius: 20px;	

				&:hover {
					border-color: #999999;	
				}
			}
		}
	}
}
