.gallery-banner {
	background-image: url('../images/website/temp_main.jpg');
	background-color: black;
	height: 400px !important;
	top: -80px;

	.banner-link {
		a {
			font-size: 30px;
			color: $blue;
			border: 3px solid $blue;
			border-radius: 15px;
			padding-left: 10px;
			letter-spacing: 10px;
			background: rgba(39, 68, 138, 0.7);

			&:hover {
				color: $blue2;
				border: 3px solid $blue2;
			}
		}
	}
}

.main-gallery {
	margin: 0;
	margin-bottom: 75px;
}

.pswp__caption__center {
	font-size: 16px !important;
	text-align: center !important;
}

.my-gallery {
	width: 100%;
	float: left;

	p {
		display: inline-block;
		margin: 0;
		margin-left: 10px;
		font-size: 16px;
		font-family: 'Source Sans Pro', sans-serif !important;
		color: $gray2;
		line-height: 35px;
	}

	img {
		width: auto;
		height: auto;
		
		&:hover {
			box-shadow: 3px 4px 5px #888888;
			transform: scale(1.03, 1.03);
		}
	}

	figure {
		display: block;
		//float: left;
		margin: 0;
		//width: 150px;

		a {
			text-align: center;
			display: block;
		}
	}

	figcaption {
		display: none;
	}

	.gallery-thumbnail {
		margin: 10px 0;
	}
}
