.gallery-banner {
	background-image: url('../images/website/gallery.jpg');
	background-color: black;
	height: 450px !important;
	top: -80px;

	@media #{$medium-only} {
		height: 450px !important;
	}
	@media #{$small-only} {
		height: 250px !important;
		//top: 0px !important;
		margin-bottom: 25px;
	}

	.banner-link {
		@media #{$small-only} {
			margin-top: 10px;
		}

		a {
			font-size: 30px;
			color: $white;
			border: 3px solid $white;
			border-radius: 15px;
			padding-left: 5px;
			padding-right: 2px;
			letter-spacing: 3px;
			background: rgba(75, 75, 75, 0.7);

			&:hover {
				color: rgba(200, 200, 200, 1.0);
				border: 3px solid rgba(200, 200, 200, 1.0);
			}
		}
	}
}

@font-face {
	font-family: experiment;
	src: url(../font/ElenarLove-Regular.woff);
}

.home {
	position: fixed;
	top: 20px;
	left: 20px;
	font-family: experiment;
	opacity: .7;

	span {
		padding-right: 5px;
	}

	a {
		color: #261A07;
	}

	&:hover {
		opacity: .9;
	}
}

.main-gallery {
	.row {
		@media #{$medium-only} {
			max-width: 90rem !important;
		}
	}

	margin: 0;
	margin-bottom: 50px;
	padding-top: 50px;
}

.pswp__caption__center {
	font-size: 16px !important;
	text-align: center !important;
}

.my-gallery {
	width: 100%;
	float: left;

	p {
		display: inline-block;
		margin: 0;
		margin-left: 10px;
		font-size: 16px;
		font-family: 'Source Sans Pro', sans-serif !important;
		color: $gray2;
		line-height: 35px;
	}

	img {
		width: auto;
		height: auto;

		&:hover {
			@media #{$medium-up} {
				box-shadow: 3px 4px 5px #888888;
				transform: scale(1.03, 1.03);
			}
		}
	}

	figure {
		display: block;
		//float: left;
		margin: 0;
		//width: 150px;

		a {
			text-align: center;
			display: block;
		}
	}

	figcaption {
		display: none;
	}

	.gallery-thumbnail {
		margin: 10px 0;
	}
}
