.top-bar {
	@media #{$small-only} {
		.title-area .name p {
			padding-left: 10px;
		}
		//padding-left: 10px;
		//padding-right: 10px;
	}
	.title-area .name p {
		padding-left: 10px;
	}

	z-index: 1;
	//background-color: $black;
	background-color: white;
	opacity: 0.9;
	height: 80px;
	padding-top: 25px; //80 - 30 / 2
	padding-bottom: 25px;

	//padding if large screen
	@media #{$large-only} {
		padding-left: 3rem;
		padding-right: 3rem;
	}

	p, a {
		line-height: 30px !important;
		//background-color: $black !important;
		background-color: white !important;
		font-family: 'Source Sans Pro', sans-serif !important;
		//color: $white;
		color: rgba(10, 10, 10, 1.0);
	}

	p {
		font-weight: 300!important;
		font-size: 15px!important;
	}

	a {
		font-weight: 700 !important;
		font-size: 17px !important;
		//color: rgba(243, 232, 232, 0.7) !important;
		color: rgba(10, 10, 10, 0.7) !important;

		&.active, &:hover {
			//border-bottom: 2px solid $white;
			//color: rgba(243, 232, 232, 1.0) !important;
			color: rgba(10, 10, 10, 1.0) !important;

			&:after {
				content : "";
				display: block;
				position: relative;
				left    : -8%;
				height  : 1px;
				width   : 116%;  /* or 100px */

				@media #{$medium-up} {
					border-bottom:2px solid rgba(10, 10, 10, 1.0);
				}
				
			}
		}
	}

	//mobile
	.toggle-topbar.menu-icon {
		top: 35%;

		a span::after {
			box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.7), 0 7px 0 1px rgba(10, 10, 10, 0.7), 0 14px 0 1px rgba(10, 10, 10, 0.7);
		}
	}

	&.expanded {
		//margin-bottom: 80px;
		opacity: 1;
		background: white;

		.title-area {
			background: white;
		}

		.top-bar-section ul li > a {
			padding: 0px;
			padding-left: 10px;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
